<div class="modal-header">
    <h4>Add new product</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-3">NAME </label>
            <input type="text" id="name" placeholder="NAME" ng-model="name" required>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3">DESCRIPTION </label>
            <input type="text" id="description" placeholder="DESCRIPTION" ng-model="description" required>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-3">PRICE </label>
            <input type="number" id="price" placeholder="PRICE" ng-model="price" required>
        </div>
        <div class="form-group">
            <label for="stock" class="col-sm-3">STOCK </label>
            <input type="number" id="stock" placeholder="STOCK" ng-model="stock" required>
        </div>
        <div class="form-group">
            <label for="packing" class="col-sm-3">PACKING </label>
            <input type="text" id="packing" placeholder="PACKING" ng-model="packing" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="saveNew()" class="btn btn-primary" data-dismiss="modal">OK</button>
    <button type="button" ng-click="cancel()" class="btn">Cancel</button>
</div>